<div class="page-title">
  <h4>Categories {{ categoriesSub?.length }}</h4>
  <button routerLink="/categories/new" class="waves-effect waves-light btn grey darken-1">Create Category</button>
</div>

<div class="row" *ngIf="!isLoading">
  <div class="col s12">
    <div class="collection" *ngIf="categoriesSub.length !== 0; else empty">
      <a [routerLink]="['/categories', category._id]" *ngFor="let category of categoriesSub" class="collection-item">{{
        category.name
      }}</a>
    </div>
    <ng-template #empty>
      <div class="center">No categories for this user.</div>
    </ng-template>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
